* {
    padding:0;
    margin:0;
    font-family: 'Raleway', sans-serif;
}

body{
    background-color: #fff;
}

h2{
    font-size: 50px;
    color: #004A8D;
}

/*cabeçalho*/
header {
    width: 100%;
    height: 44px;
    padding: 16px 0;
    background-color: #004A8D;
    position:top;
}
header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    width: 72px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}
header h6 {
    font-size: 24px;
    color: #FFF;
    font-weight: 500;
    line-height: 30px;
}
h6:hover{
    color: #F7941D;
}
header ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 16px;
    margin-right: 20px;
    align-items: center;
}
header ul li {
    font-weight: 500;
    line-height: 30px;
}
header li a {
    text-decoration: none;
    color: #FFF;
    padding-bottom: 16px;
}
header li a:hover {
    color: #F7941D;
}
header li a.active {
    font-weight: 700;
    border-bottom:2px solid #F7941D;
    width:20px;
    bottom: 5px;
    color: #F7941D;
}
header button {
    height: 40px;
    border-radius: 5px;
    border: none;
    background: #f7941d;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    font-size:16px;
}
header button a{
    text-decoration: none;
}
/*fim cabeçalho*/

/*tela index*/

/*welcome page*/
#welcome-page{
    max-width: 1400px;
    margin: 0 auto; 
}
#welcome-page .welcome-content .welcome-banner{
    padding: 20px;
    display: flex;
    justify-content: center;
}
#welcome-page .welcome-content .img-desenho{
    position:end;
    width:800px;
}
#welcome-page .welcome-content .logo-senac{
    width:70px;
}
#welcome-page .welcome-texts p{
text-decoration: italic;
font-size: 25px;
flex-wrap: wrap;
margin-top: 20px;
color: grey;
}
#welcome-page .welcome-banner .botao-login{
    width: 250px;
    max-height: 90px;
    border-radius: 5px;
    border: none;
    background: #f7941d;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    font-size:25px;
}
#welcome-page .welcome-banner .botao-servicos{
    border: 2px solid #004A8D;
    color: #004A8D;
    font-size: 25px;
    max-width:270px;
    max-height: 90px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    font-weight: 600;
    text-align: center;
}
#welcome-page .botoes{
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 350px;
    align-items: bottom;
}
/*fim welcome page*/


#servicos {
    max-width: 1400px;
    margin: 0 auto; 
}
/*CARDS*/
#servicos .servicos-content h2{
    text-decoration: none;
    color:#004A8D;
    font-size: 65px;
    text-align: center;
    margin-bottom: 20px;
}
#servicos .servicos-card-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
#servicos .servicos-card{
    display: flex;
    flex-direction:column;
    max-height: 400px;
    max-width: 225px;
    border-radius: 7px 7px 7px 7px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
#servicos .servicos-card:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#servicos img{
    max-width: 225px;
    max-height: 200px;
    border-radius: 7px 7px 0 0;
    
}
#servicos .servico-info{
    padding: 10px;
}
#servicos h3{
    font-weight: 700;
    text-align: center;
    font-size: 18px;
    color: #000;
}
#servicos h4{
    font-weight: 300;
    text-align: center;
    font-size: 15px;
    color: #000;
}
#servicos .servico-info p{
    font-weight: 300;
    font-style: italic;
    margin-top:10px;
}
#servicos .servico-preco-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
#servicos .servico-preco-btn button{
    padding: 10px;
    border-radius: 5px;
    background-color: #F7941D;
    color:#FFF;
    max-width: 100px;
    max-height: 40px;
    border:none;
}
#servicos .servico-preco-btn a{
    text-decoration: none;
    color: #FFF;
}

/*banner agendamentos*/
#agendamento .imagem-agendamentos{
display: flex;
justify-content: center;
position: relative;
}
#agendamento .imagem-agendamentos img{
    margin-top: 20px;
    object-fit:contain;
    max-width:1220px;
    border-radius: 20px;
}
#agendamento .agendamento-content{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 365px;
}
#agendamento .agendamento-content h2{
    position: absolute;
    margin-top:-750px;
    text-align: right;
    color: #FFF;
    font-size: 50px;

}
#agendamento .agendamento-content button {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 12px;
    border: none;
    background-color: #004A8D;
    border-radius: 5px;
    position: absolute;
    margin-top:-250px;
}
#agendamento .agendamento-content a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 700;
}
/*fim banner agendamentos*/
/*fim tela index*/


/*TELA DE AGENDAMENTOS*/

/*divisao do card*/
.esquerda{
    display: flex;
    width:400px;
    background-color: #000;
    height:1000px;
    position:left;
}

/*card da divisao esquerda*/
.esquerda .agendamento-card{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto auto auto 50px;

}  
.esquerda .card-agendado{
    width:15em;
    height:150px;
    background-color: grey;
    padding: 20px;
}

/*divisao 2*/
.direita{
padding: 10px;
margin-left: 120px;
position: right;
margin-top: 20px;
}

/*atendentes*/ 
#agendamentos .agendamento-users h2 {
    padding-left: 15px;
}
#agendamentos .agendamento-users .atendentes-lista {
    display: flex;
    flex-direction: row;
    gap: 26px;
    margin-left: 20px;
}
#agendamentos .atendentes-lista .atendente-card {
    width: 80px;
    height: 100px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  }
  #agendamentos .atendente-card img {
    border-radius: 50px;
}
  #agendamentos .atendente-card p {
    font-weight: 500;
    line-height: 60px;
  }
  
  #agendamentos .atendente-card:hover {
     box-shadow:  rgba (182, 127, 80, 0.4) 0px 0px 0px 6px;
  }

/*fim atendentes*/

/*dia*/

/*fim dos card #dia*/

/*inicio tabela*/
table{
    display: flex;
    justify-content: center;
    align-items: center;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border:3px solid #B57F50;
}
thead{

}
#dia .dia-tabela tr:first-child{
   align-items: center;
   height: 50px;
   gap: 16px;
   text-align: center;
   
}
#dia .dia-tabela tr{
    align-items: center;
   height: 30px;
   gap: 16px;
   text-align: center;
   font-size: 16px;
}
/*fim Tabela*/
/*fim div 2*/
/*Fim tela de agendamentos*/


/* Inicio sobre nos */
#titulo {
    margin-left: 48px;
    margin-top: 40px;

}
#titulo h2{
    font-size: 30px;
}
#sobre_nos {
    max-width: 1100px;
    margin: 0 auto;
}
#sobre_nos .sobre_nos-card-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#sobre_nos .sobre_nos-card-content .sobre_nos-card {
border: #0B2545;
border-radius: 12px;
box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
width: 300px;
height: 350px;
margin-top: 100px;
padding: 20px;
}
#sobre_nos img {
    max-width: 300px;
    max-height: 350px;
    justify-content: center;
}    
#sobre_nos .sobre_nos-info {
    text-align: center;
}
#sobre_nos .sobre_nos-info h3 {
    padding-top: 10px;
    padding-bottom: 8px;
}
#sobre_nos .sobre_nos-info p {
    padding-top: 10px;
    padding-bottom: 10px;
}
#texto_final {
    margin-left: 48px;
}
#texto_final h2{
    font-size: 30px;
    margin-top: 65px;
}

/* Fim sobre nos */
footer {
    background-color: #004A8D;
    color: #FFF;
    padding: 32px 0;
    justify-content: center;
    bottom: 0;
    width: 100%;
    position:bottom;
    

}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.footer-icons img {
    max-width: 32px;
}

footer .footer-info {
    justify-items: center;
}

footer .footer-info ul {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 400;
    list-style-type: style type disc;
    gap: 25px;
    justify-content: center;
    padding: 25px;
}

footer li:first-child {
    list-style-type: none;
}

.footer-copyright {
    text-align: center;
    font-weight: 300;
    font-size: 10px;
}

