* {
    padding:0;
    margin:0;
    font-family: 'Raleway', sans-serif;
}


body{
    background-color: #fff;
}
/*cabeçalho*/
header {
    width: 100%;
    height: 44px;
    padding: 16px 0;
    background-color: #004A8D;
    position:top;
}
header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    width: 72px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}
header h6 {
    font-size: 24px;
    color: #FFF;
    font-weight: 500;
    line-height: 30px;
}
h6:hover{
    color: #F7941D;
}
header ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 16px;
    margin-right: 20px;
    align-items: center;
}
header ul li {
    font-weight: 500;
    line-height: 30px;
}
header li a {
    text-decoration: none;
    color: #FFF;
    padding-bottom: 16px;
}
header li a:hover {
    color: #F7941D;
}
header li button a:hover {
    color: #004A8D;
}
header li a.active {
    font-weight: 700;
    border-bottom:2px solid #F7941D;
    width:20px;
    bottom: 5px;
    color: #F7941D;
}
header button {
    height: 40px;
    border-radius: 5px;
    border: none;
    background: #f7941d;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    font-size:16px;
}
header button a{
    text-decoration: none;
}
.img-perfil{
    background-image: url('/front-end/img/escova1.png');
    border-radius:50px;
    width: 30px;
}
/*fim cabeçalho*/
/*tela index*/
/*welcome page*/
#welcome-page{
    max-width: 1480px;
    margin: 0 auto; 
}
#welcome-page .welcome-content{
margin-top: 50px;
margin-bottom: 45px;
}
#welcome-page .welcome-content .welcome-banner{
    display: flex;
}
#welcome-page .welcome-content .img-desenho{
    width:780px;
    align-items: center;
}
#welcome-page .welcome-content .logo-senac{
    width:70px;
}
#welcome-page .welcome-texts h2{
    text-decoration: none;
    color:#000;
    font-size: 60px;
    text-align: left;
    margin-bottom: 20px;

}
#welcome-page .welcome-texts p{
text-decoration: italic;
font-size: 25px;
flex-wrap: wrap;
margin-top: 15px;
color: grey;
text-align: justify;
}
#welcome-page .welcome-banner .botao-login{
    width: 250px;
    max-height: 90px;
    border-radius: 5px;
    border: none;
    background: #f7941d;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    font-size:25px;
}
#welcome-page .welcome-banner .botao-login:hover{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
#welcome-page .welcome-banner .botao-servicos{
    border: 2px solid #004A8D;
    color: #004A8D;
    font-size: 25px;
    max-width:270px;
    max-height: 90px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    font-weight: 600;
    text-align: center;
}
#welcome-page .botoes{
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 110px;
}
/*fim welcome page*/
#servicos {
    max-width: 1480px;
    margin: 0 auto; 
}
/*CARDS*/
#servicos .servicos-content h2{
    text-decoration: none;
    color:#000;
    font-size: 65px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
#servicos .servicos-card-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin-bottom: 50px;
}
#servicos .servicos-card{
    display: flex;
    flex-direction:column;
    justify-content: center;
    max-height: 400px;
    max-width: 250px;
    border-radius: 7px 7px 7px 7px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
#servicos .servicos-card:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#servicos .servicos-card .servico-img{
    display: flex;
    justify-content: center;
    padding: 5px;
}
#servicos .servicos-card .servico-img img{
    display: flex;
    max-width: 250px;
    max-height: 200px;
    border-radius: 7px 7px 0 0;
    
}
#servicos .servico-info{
    padding: 10px;
}
#servicos h3{
    font-weight: 700;
    text-align: center;
    font-size: 18px;
    color: #000;
}
#servicos h4{
    font-weight: 300;
    text-align: center;
    font-size: 15px;
    color: #000;
}
#servicos .servico-info p{
    font-weight: 300;
    font-style: italic;
    margin-top:10px;
    text-align: center;  
}
#servicos .servico-preco-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
#servicos .servico-preco-btn span{
    padding: 10px;
    border-radius: 5px;
    background-color: #F7941D;
    color:#FFF;
    max-width: 100px;
    max-height: 40px;
    border:none;
}
#servicos .servico-preco-btn a{
    text-decoration: none;
    color: #FFF;
}
/*fim tela index*/

/*TELA DE AGENDAMENTOS*/
#agendamentos .agendamento-content {
    display: flex;
    flex-direction: row;
}
/*divisao do card esquerda*/
.btn-openandclose{
    display:flex;
    justify-content: end;
    position: absolute;
    
}
.esquerda {
    display: flex;
    width: 400px;
    background-color: #000;
    height: 900px;
    position: left;
    position: relative;
}
/*card da divisao esquerda*/
.esquerda .agendamento-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto auto auto 50px;
}
.esquerda .card-agendado {
    width: 15em;
    height: 150px;
    background-color: #d9dcd6;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 100px;}
/*divisao 2*/
.direita {
    padding: 10px;
    margin-left: 120px;
    position: right;
    margin-top: 20px;
}
/*atendentes*/
#agendamentos h2 {
    padding-left: 15px;
    color: #004a8d;
    margin-bottom: 30px;
    font-size: 20px;
}
#agendamentos .agendamento-users .atendentes-lista {
    display: flex;
    flex-direction: row;
    gap: 26px;
    margin-left: 20px;
}
#agendamentos .atendentes-lista .atendente-card {
    width: 80px;
    height: 100px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
#agendamentos .atendente-card img {
    border-radius: 50px;
    width: 35px;
}
#agendamentos .atendente-card p {
    font-weight: 500;
    line-height: 60px;
}
#agendamentos .atendente-card:hover {
    box-shadow: rgba (182, 127, 80, 0.4) 0px 0px 0px 6px;
}
/*fim atendentes*/

/*Filtro*/
.tabela-dia h2 {
    padding-left: 15px;
    color: #004a8d;
    margin-bottom: 30px;
    font-size: 20px;
}
.tabela-dia-content {
    width: 600px;
    height: 100px;
    background-color: #d3d3da;
    border-radius: 7px;
}
.escolha-dia {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 10px;} 
/*MODIFICAÇÃO*/
.tabela-dia .dia-card {
    color: #000;
}
.tabela-dia .dia-card p {
    font-size: 26px;
    align-items: center;
}
.tabela-dia .dia-card h3 {
    font-size: 20px;
    align-items: center;
}
.dia-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.selected {
    width: 80px;
    height: 80px;
    background-color: #fff;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    display: flex;
}
.tabela-dia .seta-esquerda {
    background-image: url("/front-end/img/seta-esquerda.svg");
    width: 25px;
    height: auto;

}
.tabela-dia .seta-direita {
}
/*fim Filtro*/

/*inicio lista de horario*/
.lista-horario{
    display: flex;
    flex-direction: row;
}

.linha-completa-sem-agendamento {
    padding: 20px;
    background-color: #fff;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
    width: 360px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.linha-completa-sem-agendamento .linha{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
/*fim Tabela Horários*/
/*Fim tela de agendamentos*/

/* Inicio cadastro */
.cadastro {
    /* CADASTRE SEU USUÁRIO */
    margin-top: 68px;
    font-size: 45px;
    text-align: center;
}
.CL_PF {
    /* CLIENTE E PROFOSSIONAL */
    width: 100vw;
    height: 10vh;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -15px; /*pra subi*/ 
}
.inputs {
    /* cliente e profissional */
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 18px;
    border: 2px solid #f7951d8e;
    border-radius: 7px;
    background-color: #f7951d28;
    /*COR DO FUNDO "QUADRADINHO"*/
    font-weight: 420;
    color: #004A8D;
    /*COR DA LETRA*/
}
.inputS {
    /* MEXER NOS NOMES DOS DADOS */
    width: 100vw;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 24px;
}
.inp1 input {
    /* BOTAO CLIENTE E PROFISSIONAL */
    width: 16px;
    height: auto;
}
.nmp {
    /* DADOS */
    font-size: 14px;
    color: #004A8D;
    font-style: italic;
    font-weight: 550;
    flex-direction: row;
}
.campos {
    /* CAIXINHAS DOS DADOS */
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    /*DAR ESPAÇAMENTO DENTRO DA CAIXINHA*/
    width: 500px;
    border-radius: 7px;
    background-color: #dcdcdc3a;
    font-style: italic;
    font-size: 16px;
}
.btn {
    /* CADASTRAR-SE */
    padding: 13px;
    /*DAR ESPAÇAMENTO DENTRO DA CAIXINHA*/
    border-radius: 7px;
    border: 2px solid #f7951d8e;
    background-color: #f7951d28;
    font-weight: 420;
    color: #004A8D;
    justify-content: center;
}
/* Fim cadastro */
/* botões*/
.bt_cad {
    width: 100vw;
    height: 10vh;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.bt_log {
    margin-top: -16px;
    padding-bottom: 16px;
    width: 100vw;
    height: 10vh;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* fim botao cadastra-se */

/* Inicio sobre nos */
#titulo {
    margin-left: 48px;
    margin-top: 40px;

}
#titulo h2{
    font-size: 30px;
}
#sobre_nos {
    max-width: 1100px;
    margin: 0 auto;
}
#sobre_nos .sobre_nos-card-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#sobre_nos .sobre_nos-card-content .sobre_nos-card {
border: #0B2545;
border-radius: 12px;
box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
width: 300px;
height: 350px;
margin-top: 100px;
padding: 20px;
}
#sobre_nos img {
    max-width: 300px;
    max-height: 350px;
    justify-content: center;
}    
#sobre_nos .sobre_nos-info {
    text-align: center;
}
#sobre_nos .sobre_nos-info h3 {
    padding-top: 10px;
    padding-bottom: 8px;
}
#sobre_nos .sobre_nos-info p {
    padding-top: 10px;
    padding-bottom: 10px;
}
#texto_final {
    margin-left: 48px;
}
#texto_final h2{
    font-size: 30px;
    margin-top: 65px;
}
/* Fim sobre nos */

footer {
    background-color: #004A8D;
    color: #FFF;
    padding: 32px 0;
    justify-content: center;
    bottom: 0;
    width: 100%;
  
    

}
.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}
.footer-icons img {
    max-width: 32px;
}

footer .footer-info ul {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 400;
    list-style-type: style type disc;
    gap: 25px;
    justify-content: center;
    padding: 25px;
}
footer li:first-child {
    list-style-type: none;
}
.footer-copyright {
    text-align: center;
    font-weight: 300;
    font-size: 10px;
}

